
.main {
    padding: 20px;
    max-width: 600px;
}
.about {
    margin: 30% 0;
}

.about h2{
    text-align: center;
    margin: 30px 0;
}


.titles {
    text-align: center;
    margin: 30px 0 15px 0;
}


.image {
    border-radius: 9em;
    width: 4em;
    height: 6em;
}

.knowledge {
    margin: 0 0 15% 0;
}
