
.main {
    padding: 30px;
    position: relative;
    top: 90px;
}

.about h3, h40{
    text-align: center;
    margin-top: 100px;
}

.about a {
    margin: 0 20px 0 10px;
}

.titles {
    text-align: center;
    margin-top: 40px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image {
    border-radius: 9em;
    width: 4em;
    height: 6em;
}
