*{
    margin: 0;
    overflow-y: hidden;
}

main {
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header {
    width: 100%;
    background-color: #333333;
    margin-bottom: 45px;
    padding: 10px;
    color: aliceblue;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.452);
}

.scrollmenu {
  overflow-y: hidden;
  white-space: nowrap;
}

.myProjects {
  width: 60%;
  height: 250px;
  background-color: #333;
  display: inline-block;
  color: white;
  margin: 0px 15px 0px 15px;
  border-radius: 1rem;
}

.scrollmenu a img {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}


.wrapper {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-info {
    position: absolute;
    font-size: large;
    text-shadow: #333;
}

.menu {
    position: fixed;
    bottom: 10%;
}

