@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

*{
    margin: 0;
    overflow-y: hidden;
}
#home {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

#projects {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#articles {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* .header {
    width: 100%;
    background-color: #333333;
    padding: 10px;
    color: aliceblue;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.452);
    position: fixed;
    top: 0;
} */

.scrollmenu {
  overflow-y: hidden;
  white-space: nowrap;
}

.myProjects {
  width: 60%;
  height: 250px;
  background-color: #333;
  display: inline-block;
  color: white;
  margin: 0px 15px 0px 15px;
  border-radius: 1rem;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 0);
}

.scrollmenu a img {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
    opacity: .4;
}


.wrapper {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-info {
    position: absolute;
    font-size: large;
    text-shadow: #333;
}

.menu {
    width: 100%;
    background-color: #333333;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
}

.menu a {
    height: 100%;
    width: 100%;
    background-color: #333333;
    border: none;
    color: aliceblue;
    padding: 20px;
}

.menu a:nth-child(2){
    background-color: black;
}



