@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body{
    display: grid;
    justify-content: center;
}
main {
    padding: 0 30px;
    display: grid;
    justify-content: center;
    max-width: 900px;
}

.shadow {
    box-shadow: 0 1px 4px 0 rgb(0, 0, 0);
}

.image {
    border-radius: 9em;
    margin-top: 1em;
    width: 4em;
    height: 6em;
}

.links {
    display: flex;
}

.links a{
    margin-left: 5px;
    margin-bottom: 5px;
}


.info {
    margin-left: 30px;
}

.helloWorld {
    border-radius: 1em;
    margin-top: 30px;
    width: 300px;
}

.readeMe {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.readeMe h1 {
    margin-top: 30px;
    text-align: center;
}

.readeMe p {
  margin-top: 50px;
}

.readeMe ul {
    margin-top: 50px;
}

.readeMe ul li {
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(197, 197, 197, 0.192);
    margin-top: 30px;
}

.aProjects {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: rgba(129, 255, 129, 0.753);
    padding: 15px;
    border-radius: 15px;

}

